*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container{
    display: flex;
    border: 2px solid;
    margin: 20px 250px;
    background: #f5feb9;
}
.title{
    margin: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.img{
    margin: 10px 20px;
    
}
img{
    width: 20rem;
}